svg(fill="none" height="28" viewBox="0 0 29 28" width="29" xmlns="http://www.w3.org/2000/svg")
  g(opacity="0.9")
    circle(cx="14.8111" cy="14" r="13" stroke-width="2" stroke="white")
    path(d="M14.8114 8.58341L14.8114 14.4167" stroke-linecap="round" stroke-width="2" stroke="white")
    path(d="M13.3531 18.2084C13.3531 17.403 14.006 16.7501 14.8114 16.7501C15.6169 16.7501 16.2698 17.403 16.2698 18.2084C16.2698 19.0138 15.6169 19.6667 14.8114 19.6667C14.006 19.6667 13.3531 19.0138 13.3531 18.2084Z" fill="#FCFCFC")