svg(fill="none" height="28" viewBox="0 0 28 28" width="28" xmlns="http://www.w3.org/2000/svg")
  g(opacity="0.9")
    circle(cx="14" cy="14" r="13" stroke-width="2" stroke="white")
    path(d="M9.33331 9.33334L18.6666 18.6667" stroke-linecap="round" stroke-width="2" stroke="white")
    path(d="M18.6667 9.33334L9.33335 18.6667" stroke-linecap="round" stroke-width="2" stroke="white")