svg(fill="none" height="28" viewBox="0 0 28 28" width="28" xmlns="http://www.w3.org/2000/svg")
  g(opacity="0.9")
    circle(cx="14" cy="14" r="13" stroke-width="2" stroke="white")
    path(d="M14 18.6667V12.8333" stroke-linecap="round" stroke-width="2" stroke="white")
    path(d="M15.4583 9.04168C15.4583 9.84709 14.8054 10.5 14 10.5C13.1945 10.5 12.5416 9.84709 12.5416 9.04168C12.5416 8.23626 13.1945 7.58334 14 7.58334C14.8054 7.58334 15.4583 8.23626 15.4583 9.04168Z" fill="#FCFCFC")